<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Radio</title>
        <link href="/css/style.css" rel="stylesheet">
        <script src="/js/index.js"></script>
    </head>
    <body>
        <div id="info-container">
            <div id="user-container">
                <p id="user-header">User count: <span id="user_count"></span></p>
                <ul id="users"></ul>
            </div>

            <canvas id="video" width="1280" height="720" hidden></canvas>
        </div>

        <div id="buttons">
            {{ range .Buttons }}
            <div class="button_container">
                {{ if .IsToogle }}
                <button id="radio_{{ .Num }}" pin_num="{{ .Num }}" toggle>{{ .Name }}</button>
                {{ else }}
                <button id="radio_{{ .Num }}" pin_num="{{ .Num }}" push>{{ .Name }}</button>
                {{ end }}
            </div>
            {{ end }}
        </div>
    </body>
</html>
